<header>
  <div class="wrapper">
    <div class="logo">
      <img height="40px" width="40px" src="assets/ico.png" alt="=)">
      <span>Your Finances!</span>
    </div>
    <nav>
      <a routerLink="/welcome" routerLinkActive="active">Home</a>
      <a routerLink="/new-operation" routerLinkActive="active">New operation</a>
      <a routerLink="/history" routerLinkActive="active">History of operations</a>
    </nav>

  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>

</footer>
